
.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
}

.inputs {
	margin: 20px;
}

.inputs input, .inputs button {
  margin: 0 10px;
}

.grid div {
	width: 72px;
	height: 72px;
	border: 1px solid #AAA;
	margin: 1px;
}
