
.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.grid {
	display: flex;
}

.button {
	margin-bottom: 20px;
}

.column > div {
	height: 25px;
	width: 25px;
	border: 1px solid #AAA;
	margin: 2px; 
}